.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-size: 80px;
  font-weight: light;
  justify-content: center;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  justify-content: center;
  text-align: center;
}

.list-title {
  font-size: 20px;
  margin-top: 10px;
  color: orange;
  justify-content: center;
  text-align: center;
}
